body {
    background-color: #a5c2f3;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;

}
.btn {
background-color: #78a3ed;
}
.dropdown-menu li {
background-color: #a5c2f3;
}
.container {

    width: 780px,;
    margin: 0 auto;
    background:#d2e0f9;
    box-shadow: 0px 50px 50px 10px;
    color: #000000;
	padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
}
.container h4 {
	color: #008000;
}
a:link, a:visited {
   color: #0066ff;
}

a:hover, a:active {
   color: #00ccff;
   text-decoration: none;
}

.header {
   color: #ffc621;
   font-family: Arial, sans-serif;
   text-align: center;
   background-image: url(../images/background.jpg);
   background-position: bottom;
   padding: 100px 0px 0px 0px;
}

.row-footer {
   background-color: #94b8b8;
   padding: 25px 25px 25px 25px;
   margin: 10px auto;
}

.navbar-default {
   border-radius: 0px;
}

.no-bullets {
   list-style: none;
}

.personnel-images {
   float: left;
   width: 120px;
   margin: 3px 27px 3px 3px;
}
