<ol class="breadcrumb">
         <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
         <li><a href="http://rgf.drohobych.net/content/kaf-rom">Кафедра романської філології та компаративістики</a></li>
         <li class="active">Електронний навчальний ресурс</li>
      </ol>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Описи навчальних дисциплін</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
            
        <p><strong>Перший (бакалаврський) рівень вищої освіти</strong></p>
   <br>
   <p><strong><a href="files/anotazia.docx">Перелік дисциплін</a></strong></p>
   <br>
   		
            <ul>
   			<li><a href="images/first.jpg">the first page</a></li>
   			<li><a href="images/second.jpg">the second page</a></li>
   			<li><a href="images/third.jpg">the third page</a></li>
   		</ul>
   <br>
   	  <p><strong>Перший (бакалаврський) рівень вищої освіти</strong></p>
   	<br>
   <p><strong><a href="files/anotazia.docx">Перелік дисциплін</a></strong></p>
   <br>	
            <ul>
   			<li><a href="images/opp.jpg">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="files/opp.docx">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
   	 
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Загальне мовознавство
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kocherhan.doc">М.П.Кочерган.Загальне мовознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/thema.doc">Теми і завдання для самопідготовки</a></li>
   				</ul>
   			</div>
   	  
   <br>
   			
   </div>
</div>
       </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Інформаційний ресурс</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
         <p><strong>Навчально-методичне забезпечення</strong></p>
   	 <br>
   <p><strong><a href="files/anotazia.docx">Перелік дисциплін</a></strong></p>
   <br>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Загальнотеоретичний курс другої іноземної мови
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kocherhan.doc">Навчально-методичний посібник</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/thema.doc">Робоча програма</a></li>
   				</ul>
   			</div>
   	  
   <br>
   	  <p><strong>Oсвітньо-професійний план</strong></p>
   		<ul>
   			<li><a href="#">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="#">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   <br>
   <p><strong><a href="#">Анотації дисциплін</a></strong></p>
   <br>
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
            <br>
            <br>
   </div>
</div>
       </div>
    </div>
  </div>
            
          <br>
            <br>
