<ol class="breadcrumb">
         <li><a href="http://rgf.drohobych.net">Інститут іноземних мов</a></li>
         <li><a href="http://rgf.drohobych.net/content/kaf-rom">Кафедра романської філології та компаративістики</a></li>
         <li class="active">Електронний навчальний ресурс</li>
      </ol>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Описи навчальних дисциплін</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
            
        <p><strong>Перший (бакалаврський) рівень вищої освіти</strong></p>
   <br>
   <p><strong><a href="files/perelik_bakalavr.docx">Перелік дисциплін</a></strong></p>
   <br>
   		
            <ul>
   			<li><a href="images/1.1.praktyka_usnoho_pysemnoho_movlenna.pdf">1.1.Практика усного та писемного мовлення</a></li>
   			<li><a href="images/1.2.fonetyka.pdf">1.2.Практична фонетика</a></li>
   			<li><a href="images/1.3.hramatyka.pdf">1.3.Практична граматика</a></li>
                     <li><a href="images/1.4.latynska.pdf">1.4.Латинська мова</a></li>
                     <li><a href="images/1.5.antychna.pdf">1.5.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="images/2.1.druha_mova.pdf">2.1.Практичний курс другої іноземної мови</a></li>
                     <li><a href="images/2.2.latynska.pdf">2.2.Латинська мова</a></li>
                     <li><a href="images/2.3.antychna.pdf">2.3.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="images/3.1.latynska.pdf">3.1.Латинська мова</a></li>
                     <li><a href="images/3.2.antychna.pdf">3.2.Історія зарубіжної літератури (антична література)</a></li>
                     
                     <li><a href="images/4.1.latynska.pdf">4.1.Латинська мова</a></li>
                     <li><a href="images/4.2.antychna.pdf">4.2.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="images/5.1.latynska.pdf">5.1.Латинська мова</a></li>
                     <li><a href="images/5.2.antychna.pdf">5.2.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="images/6.1.sarubisna.pdf">6.1.Історія зарубіжної літератури</a></li>
                     <li><a href="images/6.2.soziolinhvistyka.pdf">6.2. Соціолінгвістика</a></li>
                     <li><a href="images/7.1.latynska.pdf">7.1.Латинська мова</a></li>
                     <li><a href="images/7.2.antychna.pdf">7.2.Історія зарубіжної літератури (антична література)</a></li>
                     <li><a href="images/8.1.praktyka.pdf">8.1.Практика усного і писемного мовлення(2-й курс)</a></li>
                     <li><a href="images/8.2.fonetyka.pdf">8.2.Практична фонетика</a></li>
                     
                     <li><a href="images/8.3.hramatyka.pdf">8.3.Практична граматика</a></li>
                     <li><a href="images/8.4.teorfonetyka.pdf">8.4.Теоретична фонетика</a></li>
                     <li><a href="images/8.5.teorhramatyka.pdf">8.5.Теоретична граматика</a></li>
                     <li><a href="images/8.6.leksykolohia.pdf">8.6.Лексикологія</a></li>
                     <li><a href="images/8.7.stylistyka.pdf">8.7.Стилістика</a></li>
                     <li><a href="images/8.8.interpretazia.pdf">8.8.Інтерпретація тексту</a></li>
                     <li><a href="images/8.9.romanske.pdf">8.9.Вступ до романського мовознавства</a></li>
                     
                     <li><a href="images/8.10.istoria.pdf">8.10.Історія мови</a></li>
                     <li><a href="images/8.11.krainoznavstvodruhoimovu.pdf">8.11.Країнознавство країни основної іноземної мови</a></li>
                     <li><a href="images/8.12.serednibiku.pdf">8.12.Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="images/8.13.literaturaxvii.pdf">8.13. Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="images/8.14.prosvitnyztvo.pdf">8.14.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="images/8.15.literaturaxix.pdf">8.15.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="images/8.16.literaturaxx.pdf">8.16.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     <li><a href="images/9.1.druhamova.pdf">9.1.Практичний курс другої іноземної мови (2-й курс)</a></li>
                     <li><a href="images/9.2.romanske.pdf">9.2. Вступ до романського мовознавства</a></li>
                     <li><a href="images/9.3.seredniviku.pdf">9.3. Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="images/9.4.literaturaxxvii.pdf">9.4. Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="images/9.5.literaturaprosvutnyztvo.pdf">9.5.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="images/9.6.literaturexix.pdf">9.6.Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="images/9.7.literaturaxx.pdf">9.7.Історія зарубіжної літератури (ХХ ст.)</a></li>
                     
                     <li><a href="images/10.1.literaturaseredniviku.pdf">10.1. Історія зарубіжної літератури (доба Середньовіччя)</a></li>
                     <li><a href="images/10.2.literaturaxvii.pdf">10.2.Історія зарубіжної літератури (ХІV–ХVII ст.)</a></li>
                     <li><a href="images/10.3.prosvitnyztvo.pdf">10.3.Історія зарубіжної літератури (доба Просвітництва)</a></li>
                     <li><a href="images/10.4.literaturaxix.pdf">10.4. Історія зарубіжної літератури (ХІХ ст.)</a></li>
                     <li><a href="images/10.5.literaturaxx.pdf">10.5. Історія зарубіжної літератури (ХХ ст.)</a></li>
                     
                     <li><a href="images/8.2.fonetyka.pdf">8.2.Практична фонетика</a></li>
                     
                     
   		</ul>
   <br>
   	  <p><strong>Другий (магістерський) рівень вищої освіти</strong></p>
   	<br>
   <p><strong><a href="files/anotazia.docx">Перелік дисциплін</a></strong></p>
   <br>	
            <ul>
   			<li><a href="images/opp.jpg">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="files/opp.docx">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
   	 
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Загальне мовознавство
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kocherhan.doc">М.П.Кочерган.Загальне мовознавство</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/thema.doc">Теми і завдання для самопідготовки</a></li>
   				</ul>
   			</div>
   	  
   <br>
   			
   </div>
</div>
       </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <div class="caption">
        <h3>Інформаційний ресурс</h3>
        <div class="row">
   <div class="col-md-12">
   <br>
         <p><strong>Навчально-методичне забезпечення</strong></p>
   	 <br>
   <p><strong><a href="files/anotazia.docx">Перелік дисциплін</a></strong></p>
   <br>
   			<div class="dropdown">
   	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Загальнотеоретичний курс другої іноземної мови
       <span class="caret"></span></button>
   				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/kocherhan.doc">Навчально-методичний посібник</a></li>
   					<li role="presentation"><a role="menuitem" tabindex="-1" href="files/thema.doc">Робоча програма</a></li>
   				</ul>
   			</div>
   	  
   <br>
   	  <p><strong>Oсвітньо-професійний план</strong></p>
   		<ul>
   			<li><a href="#">Освітньо-професійна програма (титульна)</a></li>
   			<li><a href="#">Освітньо-професійна програма (текст)</a></li>
   		</ul>
   <br>
   <p><strong><a href="#">Анотації дисциплін</a></strong></p>
   <br>
   	 <p><strong>Навчально-методичне забезпечення</strong></p>
            <br>
            <br>
   </div>
</div>
       </div>
    </div>
  </div>
            
          <br>
            <br>
